.TodoForm-Container {
    // width: 90%;
    max-width: 300px;
    // height: 80vh;
    // padding: 33px 40px;
    // padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    // background-color: #e0e0e0;
    // box-shadow:  -8px -8px 16px #bebebe,
    //              8px 8px 16px #ffffff;
}

.TodoForm-Container label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1E1E1F;
    margin-bottom: 26px;
}

.TodoForm-Container textarea {
    background: #e0e0e0;
    border: none;
    border-radius: 12px;
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: 100%;
    // width: calc(100% - 25px);
    box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
}

.TodoForm-Container textarea::placeholder {
    color: #A5A5A5;
   
    font-weight: 400;
  }

.TodoForm-Container textarea:focus {
    outline-color:rgb(0, 119, 255);
  }

.TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TodoForm-button{
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    width: 100px;
    height: 48px;
    border-radius: 7px;
    border: none;
    
}
 
.TFB--cancel {
    background: transparent;
}

.TFB--cancel:hover {
    color: white;
    background: linear-gradient(145deg, #ff0051, #e60044);
    // box-shadow:  5px 5px 15px #d90041,
    //             -5px -5px 15px #ff0057;
}

/* .TFB--add {
    background: #61DAFA;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
} */
  
  .TFB--add {
    color: white;
    // background: rgb(0,140,255);
    // box-shadow: 0 0 25px rgb(0,140,255);
    transition: 0.5s;
    transition-property: box-shadow;
    background: linear-gradient(145deg, #0096ff, #007ee6);
    // box-shadow:  20px 20px 60px #0077d9,
    //             -20px -20px 60px #00a1ff;
  }
  
  .TFB--add:hover {
    background: linear-gradient(145deg, #007ee6, #0096ff);
    box-shadow:  5px 5px 15px #0077d9,
                -5px -5px 15px #00a1ff;

    // box-shadow: 0 0 5px rgb(0,140,255),
    //             0 0 25px rgb(0,140,255),
    //             0 0 50px rgb(0,140,255),
    //             0 0 100px rgb(0,140,255);
  }

  